extends ../layouts/main-layout.pug

block title
  title #{docTitle}

block content
  main
    h1 My Cart
    section.products
      if products.length > 0
        each product of products
          product-item(data-product=product, data-operations=`["detail", "remove"]`)
      else
        p no product