extends ../layouts/main-layout.pug

block title
  title #{docTitle}

block content
  main
    h1 All Products 
    if products.length > 0
      ul
        each product of products
          li 
            p #{product.name} ($#{product.price || '-'})

    else
      p no product
    img(src="/image/Suzuha.jpeg", alt="avatar")