node_modules
build
dist
.next
.expo
yarn.lock

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

hello-nginx/nginx/*
!hello-nginx/nginx/conf/
!hello-nginx/nginx/html/
!hello-nginx/nginx/www/