doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title

    link(rel="stylesheet", href="/css/style.css")
    block style

    script(src="/js/utils/products.js", defer) 
    script(src="/js/utils/operation.js", defer)
    script(src="/js/web-components/product-item.js" defer) 
    block script

  body 
    header 
      nav 
        ul 
          li 
            a(href="/", class=(route === 'index' ? 'active' : '')) Shop
          li 
            a(href="/products", class=(route === 'products' ? 'active' : '')) Products
          li 
            a(href="/cart", class=(route === 'cart' ? 'active' : '')) Cart
          li 
            a(href="/orders", class=(route === 'orders' ? 'active' : '')) Orders
          li
            a(href="/admin/add-product", class=(route === 'admin/add-product' ? 'active' : '')) Add Product
          li
            a(href="/admin/products", class=(route === 'admin/products' ? 'active' : '')) Admin Products

    block content